@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root {
    --back-color: #f2f4f8;
    --rev-back-color:black;
    --text-color: #191b23;
    --sec-text-color: #3c404f;
    --positive-button-color: #8b90ff;
    --base-color:#f2f4f8;
    --card-background-color: white;
    --button-text-color: white;
    --transparent-color-90: rgba(247, 247, 247, 0.9);
    --transparent-color-100: rgba(247, 247, 247, 1);

    --button-padding: 12px 24px;
}

body {
    background-color: var(--back-color);
    margin: 2rem;
    min-height: 100%;
}

.contentAdder{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.addNewNote {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: var(--text-color);
    justify-content: center;
    background-color: var(--card-background-color);
    padding: 24px;
    width: 500px;
    border-radius: 15px;
}

.addNewNote .formHeading .heading{
    font-weight: 600;
    font-size: 24px;   
}

.addNewNote .formHeading{
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.addNewNote form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

input, textarea{
    padding: 12px;    
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--base-color);
}
.addNewNote .title, .addNewNote .content{
    display: flex;
    flex-direction: column;
    row-gap: 12px;    
}

.addNewNote .formButton{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.addNewNote .cancel{
    background-color: var(--base-color);
    color: var(--rev-back-color);
}

nav {
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav h1 {
    font-size: 32px;
    width: max-content;
}

.nav-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.6em;
    width: max-content;
}

.theme {
    background-color: var(--transparent-color-100);
}

button {
    font-size: 16px;
    padding: var(--button-padding);
    border-radius: 8px;
    background-color: var(--positive-button-color);
    border: 0px;
    color: var(--button-text-color);
}

.contentArea {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.card {
    background-color: var(--card-background-color);
    padding: 24px;
}

.hidden{
    display: none;
}