@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root {
    --back-color: #f2f4f8;
    --rev-back-color: black;
    --text-color: #191b23;
    --sec-text-color: #3c404f;
    --positive-button-color: #8b90ff;
    --base-color: #f2f4f8;
    --card-background-color: white;
    --button-text-color: white;
    --transparent-color-90: rgba(247, 247, 247, 0.9);
    --transparent-color-100: rgba(247, 247, 247, 1);

    --button-padding: 12px 24px;
    --space: 24px;
    --space-small:12px;
}

body {
    background-color: var(--back-color);
    min-height: 100%;
    padding: 2rem;
}


button {
    font-size: 16px;
    padding: var(--button-padding);
    border-radius: 8px;
    background-color: var(--positive-button-color);
    border: 0px;
    color: var(--button-text-color);
}

/* Add New Text */

.contentAdder {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.addNewNote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--card-background-color);
    padding: var(--space);
    border-radius: 15px;
    width: min(90vw, 500px);

}

.addNewNote .formHeading .heading {
    font-weight: 600;
    font-size: 24px;
}

.addNewNote .formHeading {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--space-small);
}

.addNewNote form {
    display: flex;
    flex-direction: column;
    row-gap: var(--space);
}

input,
textarea {
    padding: var(--space-small);
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--base-color);
}

.addNewNote .title,
.addNewNote .content {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-small);
}

.addNewNote .formButton {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-small);
    justify-content: flex-end;
}

.addNewNote .cancel {
    background-color: var(--base-color);
    color: var(--rev-back-color);
}

/* Add New Text ENDS */


/* NavBAR */

nav {
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav h1 {
    font-size: 32px;
    width: max-content;
}

.nav-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.6em;
    width: max-content;
}

.theme {
    background-color: var(--transparent-color-100);
}

/* NavBar ENDS */



/* Content Area  */

.contentArea {
    columns: min(80vw,300px);
    gap: var(--space);    
}

.card {
    background-color: var(--card-background-color);
    break-inside: avoid;
    margin-bottom: var(--space);
    padding: var(--space);
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--space-small);
}

.heading{
    display: flex;
    justify-content: space-between;
}

.modify{
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-small);
}

.modify p{
    background-color: var(--base-color);
    padding: 2px;
    border-radius: 5px;
}

.delete:hover{
    background-color: red;
}



/* Content Area ENDS  */


/* Activators */

.inActive{
    display: none;
}

.blurActive {
    filter: blur(4px);
    pointer-events: none; /* Prevent clicking background */
}