@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root {
    --back-color: #f2f4f8;
    --rev-back-color: black;
    --text-color: #191b23;
    --sec-text-color: #3c404f;
    --positive-button-color: #8b90ff;
    --base-color: #f2f4f8;
    --card-background-color: white;
    --button-text-color: white;
    --transparent-color-90: rgba(247, 247, 247, 0.9);
    --transparent-color-100: rgba(247, 247, 247, 1);

    --button-padding: 12px 24px;
    --space: 24px;
    --space-small: 12px;
}

body {
    background-color: var(--back-color);
    min-height: 100%;
}
.page-content{
    padding: var(--space);
}


button {
    font-size: 16px;
    padding: var(--button-padding);
    border-radius: 8px;
    background-color: var(--positive-button-color);
    border: 0px;
    color: var(--button-text-color);
}

button:hover{
    filter: brightness(90%);
}

.blur-active {
    filter: blur(4px);
    pointer-events: none;
    /* Prevent clicking background */
}